--extra-index-url https://download.pytorch.org/whl/cu118
numpy
opencv-python
onnx
insightface
psutil
# --- Các thư viện GUI không hoạt động trên Colab, tạm thời vô hiệu hóa ---
# tk
# customtkinter
# tkinterdnd2
# tkinterdnd2-universal
pillow
# --- Chỉ giữ lại phiên bản GPU của onnxruntime ---
onnxruntime-gpu
# onnxruntime
# onnxruntime-coreml
# onnxruntime-silicon
tensorflow
opennsfw2
protobuf
tqdm
gfpgan